/*
 * WP admin field colors.
 */
$wp-admin-field-color: #32373c;
$wp-admin-field-placeholder-color: #c8c8c8;

$wp-admin-field-border-color: #ddd;
$wp-admin-field-active-border-color: #5b9dd9;

$wp-admin-field-box-shadow-color: rgba(0, 0, 0, 0.07);
$wp-admin-field-active-box-shadow-color: rgba(30, 140, 190, 0.8);

$wp-admin-field-background-color: #fff;
