@import '../colors/fields';

//
@mixin wp-admin-field-standards($scope: null) {
  #{$scope}select,
  #{$scope}textarea,
  #{$scope}input:not([type='checkbox']):not([type='radio']):not([type='color']):not([type='range']):not([type='image']):not([type='submit']):not([type='button']) {
    border-radius:            0;
    width:                    100%;
    margin:                   1px;
    padding:                  3px 5px;
    font-size:                14px;
    color:                    $wp-admin-field-color;
    background:               $wp-admin-field-background-color;
    border:                   1px solid $wp-admin-field-border-color;
    box-shadow:               inset 0 1px 2px $wp-admin-field-box-shadow-color;

    &::-webkit-input-placeholder {
      color:                  $wp-admin-field-placeholder-color;
    }

    &::-moz-placeholder {
      color:                  $wp-admin-field-placeholder-color;
    }

    &:focus {
      border:                 1px solid $wp-admin-field-active-border-color;
      box-shadow:             0 0 2px $wp-admin-field-active-box-shadow-color;
    }
  }

  #{$scope}input[type='text'][data-toggle~='-color-picker'] {
    line-height:              16px;
    font-family:              monospace;
    margin:                   0 !important;
    width:                    65px !important;
    font-size:                12px !important;
  }

  #{$scope}input[type='color'] {
    padding:                  0;
  }

  #{$scope}input[type='range'] {
    width:                    100%;
  }

  #{$scope}textarea,
  #{$scope}select[multiple] {
    height:                   10em;
  }

  #{$scope}textarea {
    vertical-align:           top;

    /* See: <http://stackoverflow.com/a/7144960/1219741> */
  }
}
