/*
 * Dependencies.
 */
@import './dashicons';

/*
 * WP admin links.
 */
@mixin wp-admin-links($scope: null) {
  #{$scope}a {
    text-decoration:          none;

    &[href='#'][data-toggle]:not(.-no-dots) {
      border-bottom:          1px dotted;
    }

    &[target='_blank']:not(.-no-icon) {
      @include wp-admin-dashicon(external, after);

      display:                inline-block;
    }
  }
}
