@import './dashicons';

//
@mixin wp-admin-links($scope: null) {
  #{$scope}a {
    text-decoration:          none;

    &[href='#'][data-toggle]:not(.button):not(.btn):not(.-no-dots) {
      border-bottom:          1px dotted;
    }

    &[target='_blank']:not(.button):not(.btn):not(.-no-icon) {
      @include wp-admin-dashicon(external, after);

      &::after {
        font-size:           .85em;
        margin-left:         .25em;
        display:              inline-block;
      }
    }
  }
}
