/*
 * Dependencies.
 */
@import '../colors/fields';

/*
 * WP admin lists enable.
 */
@mixin wp-admin-list-enable($scope: null) {
  #{$scope}ol,
  #{$scope}ul {
    margin-left:              0;
    padding-left:             2em;
  }

  #{$scope}ol {
    list-style-type:          decimal;
  }

  #{$scope}ul {
    list-style-type:          disc;
  }
}
