/*
 * Dependencies.
 */
@import '../../bourbon/bourbon';
@import '../../../../vendor/websharks/sharkicons/src/sharkicons';
@import '../../jquery-plugins/ui-tooltip/enhancements';
@import '../mixins/fields';

/*
 * Core container data.
 */
$core-container-slug: 'wp-sharks';
$core-container-var: 'wp_sharks';
$core-container-name: 'WP Sharks';

/*
 * Core color variables.
 */
$core-nav-tabs-border-color: #ccc;

/*
 * Based on body class.
 */
.#{$core-container-slug}-menu-page {
  /*
   * Notices.
   */
  #wpbody-content {
    .notice,
    .updated {
      margin:                 1.5em 1.5em 1.5em 0;
    }
  }

  /*
   * Menu page wrapper.
   */
  .#{$core-container-slug}-menu-page-wrapper {
    /*
     * General layout styles.
     */
    margin:                   1.5em 1.5em 0 0;

    .-container {
      > .-nav-tabs {
        border-bottom:        1px solid $core-nav-tabs-border-color;
      }

      > .-content {
        margin:               1.5em 0 0;

        > :first-child {
          margin-top:         0;
        }

        > h1:first-child,
        > h2:first-child {
          padding-top:        0;
        }
      }
    }

    /*
     * Hidden utility.
     */
    .-hidden {
      display:                none;
    }

    /*
     * Tooltips.
     */
    .-tip {
      @include sharkicon(question-circle);

      cursor:                 help;
      opacity:                0.75;
      margin:                 0 0 0 .35em;
      display:                inline-block;

      &::before {
        font-size:            13px;
        line-height:          13px;
        width:                13px;
        height:               13px;
        vertical-align:       middle;
      }

      &:hover {
        opacity:              1;
      }

      + .-tip {
        margin-left:          2px;
      }
    }

    /*
     * Notes.
     */
    .-note {
      opacity:                0.75;
      font-size:             .85em;
      margin:                 0 0 0 .25em;
    }

    /*
     * Form tables.
     */
    .-form-table {
      > tbody {
        > tr {
          > th {
            .-tip {
              float:          right;
              margin:         0 -10px 0 0;
            }
          }

          > td {
            @include wp-admin-field-standards;

            select,
            textarea,
            input:not([type='checkbox']):not([type='radio']):not([type='color']):not([type='image']):not([type='submit']):not([type='button']) {
              max-width:      600px;
            }
          }
        }
      }
    }
  }
}

/*
 * Tooltip enhancements.
 */
@include jquery-ui-tooltip-enhancements('.#{$core-container-slug}-jquery-ui-tooltip');
