/*
 * Dependencies.
 */
@import '../../bourbon/bourbon';
@import '../../../../vendor/websharks/sharkicons/src/sharkicons';
@import '../../jquery-plugins/ui-tooltip/enhancements';
@import '../mixins/links';
@import '../mixins/lists';
@import '../mixins/fields';

/*
 * Core container data.
 */
$core-container-slug: 'wp-sharks';
$core-container-var: 'wp_sharks';
$core-container-name: 'WP Sharks';

/*
 * Colors.
 */
$error-color: #e03a39;

/*
 * Core color variables.
 */
$core-nav-tabs-border-color: #ccc;

/*
 * Menu page area; anywhere.
 */
.#{$core-container-slug}-menu-page-area {
  @include wp-admin-links;
  @include wp-admin-list-enable;
  @include wp-admin-field-standards;

  /*
   * Inline code.
   */
  code {
    font-size:                inherit;
    padding:                 .15em .35em;

    a {
      text-decoration:        none;
    }
  }

  /*
   * Hidden utility.
   */
  .-hidden {
    display:                  none;
  }

  /*
   * Notices.
   */
  &.-notice {
    h3,
    h4 {
      padding:                0;
      line-height:            1;
      font-weight:            normal;
      margin:                 1em 0;
    }

    &.notice-error {
      .sharkicon-enty-exclamation {
        color:                $error-color;
      }
    }
  }

  /*
   * Tooltips.
   */
  .-tip {
    @include sharkicon(question-circle);

    cursor:                   help;
    opacity:                  0.75;
    margin:                   0 0 0 .35em;
    display:                  inline-block;

    &::before {
      font-size:              13px;
      line-height:            13px;
      width:                  13px;
      height:                 13px;
      vertical-align:         middle;
    }

    &:hover {
      opacity:                1;
    }

    + .-tip {
      margin-left:            2px;
    }
  }

  /*
   * Notes.
   */
  .-note {
    opacity:                  0.75;
    font-size:               .85em;
    margin:                   0 0 0 .25em;
  }

  /*
   * Form tables.
   */
  .-form-table {
    > tbody {
      > tr {
        > th,
        > td {
          vertical-align:     top;

          @media (max-width: 782px) {
            padding-left:     0;
            padding-right:    0;
          }
        }

        > th {
          @media (min-width: 783px) {
            width:            225px;
          }

          > div {
            > .-tip {
              float:          right;
              margin:         0 0 0 1em;

              + .-tip {
                margin-left:  2px;
              }
            }
          }
        }
      }
    }
  }
}

/*
 * Menu page; based on body class.
 */
.#{$core-container-slug}-menu-page {
  /*
   * Notices.
   */
  #wpbody-content {
    .notice,
    .updated {
      margin:                 1.5em 1.5em 1.5em 0;
    }
  }
}

/*
 * Menu page wrapper.
 */
.#{$core-container-slug}-menu-page-wrapper {
  /*
   * General layout styles.
   */
  margin:                     1.5em 1.5em 0 0;

  .-container {
    > .-nav-tabs {
      border-bottom:          1px solid $core-nav-tabs-border-color;
    }

    > .-content {
      max-width:              960px;
      margin:                 1.5em 0 0;

      > :first-child {
        margin-top:           0;
      }

      > h1:first-child,
      > h2:first-child {
        padding-top:          0;
      }
    }
  }
}

/*
 * Post meta box wrapper.
 */
.#{$core-container-slug}-post-meta-box-wrapper {
  .-form-table {
    > tbody {
      > tr {
        > th,
        > td {
          // Match `.inside`.
          padding:            6px 0;
        }

        > th + td {
          padding:            6px 0 6px 1em;
        }

        &:first-child {
          > th:first-child,
          > td:first-child {
            margin-top:       0;
            padding-top:      0;

            + td {
              margin-top:     0;
              padding-top:    0;
            }
          }
        }

        &:last-child {
          > th:last-child,
          > td:last-child {
            margin-bottom:    0;
            padding-bottom:   0;
          }
        }
      }
    }
  }
}

/*
 * Post meta box wrapper (in sidebar).
 */
#side-sortables {
  .#{$core-container-slug}-post-meta-box-wrapper {
    .-form-table {
      > tbody {
        > tr {
          > th,
          > td {
            padding-left:     0;
            padding-right:    0;
            width:            100%;
            display:          block;
          }
        }
      }
    }
  }
}

/*
 * Tooltip enhancements.
 */
@include jquery-ui-tooltip-enhancements('.#{$core-container-slug}-jquery-ui-tooltip');
