/*
 * Dependencies.
 */
@import '../../bourbon/bourbon';
@import '../../../../vendor/websharks/sharkicons/src/sharkicons';
@import '../../jquery-plugins/ui-tooltip/enhancements';
@import '../mixins/links';
@import '../mixins/lists';
@import '../mixins/fields';

/*
 * Core container data.
 */
$core-container-slug: 'wp-sharks';
$core-container-var: 'wp_sharks';
$core-container-name: 'WP Sharks';

/*
 * Colors.
 */
$error-color: #E03A39;

/*
 * Core color variables.
 */
$core-nav-tabs-border-color: #ccc;

/*
 * Menu page area; anywhere.
 */
.#{$core-container-slug}-menu-page-area {
  @include wp-admin-links;
  @include wp-admin-list-enable;
  @include wp-admin-field-standards;

  /*
   * Hidden utility.
   */
  .-hidden {
    display:                  none;
  }

  /*
   * Notices.
   */
  &.-notice {
    h3,
    h4 {
      padding:                0;
      line-height:            1;
      font-weight:            normal;
      margin:                 1em 0;
    }

    &.notice-error {
      .sharkicon-enty-exclamation {
        color:                $error-color;
      }
    }
  }

  /*
   * Tooltips.
   */
  .-tip {
    @include sharkicon(question-circle);

    cursor:                   help;
    opacity:                  0.75;
    margin:                   0 0 0 .35em;
    display:                  inline-block;

    &::before {
      font-size:              13px;
      line-height:            13px;
      width:                  13px;
      height:                 13px;
      vertical-align:         middle;
    }

    &:hover {
      opacity:                1;
    }

    + .-tip {
      margin-left:            2px;
    }
  }

  /*
   * Notes.
   */
  .-note {
    opacity:                  0.75;
    font-size:               .85em;
    margin:                   0 0 0 .25em;
  }

  /*
   * Form tables.
   */
  .-form-table {
    > tbody {
      > tr {
        > th {
          .-tip {
            float:            right;
            margin:           0 -10px 0 0;
          }
        }
      }
    }
  }
}

/*
 * Menu page; based on body class.
 */
.#{$core-container-slug}-menu-page {
  /*
   * Notices.
   */
  #wpbody-content {
    .notice,
    .updated {
      margin:                 1.5em 1.5em 1.5em 0;
    }
  }
}

/*
 * Menu page wrapper.
 */
.#{$core-container-slug}-menu-page-wrapper {
  /*
   * General layout styles.
   */
  margin:                     1.5em 1.5em 0 0;

  .-container {
    > .-nav-tabs {
      border-bottom:          1px solid $core-nav-tabs-border-color;
    }

    > .-content {
      max-width:              960px;
      margin:                 1.5em 0 0;

      > :first-child {
        margin-top:           0;
      }

      > h1:first-child,
      > h2:first-child {
        padding-top:          0;
      }
    }
  }
}

/*
 * Tooltip enhancements.
 */
@include jquery-ui-tooltip-enhancements('.#{$core-container-slug}-jquery-ui-tooltip');
