@charset "UTF-8";
/*
 * Dependencies.
 */
/*
 * Requires a local copy of the WebSharks Core.
 */
/*
 * General colors.
 */
/*
 * Fancy blockquotes.
 */
/*
 * Fancy monospace tags.
 */
/*
 * Named colors.
 */
/*
 * Social networks.
 */
/*
 * Our own names.
 */
/*
 * Name that color!
 * <http://chir.ag/projects/name-that-color>
 */
/*
 * Font variables.
 */
/*
 * Content font variables.
 */
/*
 * Pixels to rem.
 */
/*
 * Better inversions.
 */
/*
 * Fancy blockquotes.
 */
/*
 * Fancy checkboxes.
 */
/*
 * Fancy definitions.
 */
/*
 * Fancy HR tags.
 */
/*
 * Fancy labels.
 */
/*
 * Fancy link targets.
 */
/*
 * Fancy lists.
 */
/*
 * Fancy messages.
 */
/*
 * Fancy monospace tags.
 */
/*
 * Fancy navigation menus.
 */
/*
 * Fancy pagination menus.
 */
/*
 * Fancy placeholders.
 */
/*
 * Font events.
 */
/*
 * Font features.
 */
/*
 * Pixels to rem.
 */
/*
 * Device breakpoints.
 * Following Semantic UI breakpoints.
 */
/*
 * Responsive utils.
 * Following Semantic UI breakpoints.
 * + custom `handheld` & `small screen` breakpoints.
 */
/*
 * Responsive fonts.
 */
/*
 * Responsive images.
 */
/*
 * Highlight.js <pre><code>.
 */
/*
 * Box shadow tools.
 */
/*
 * Centered tools.
 */
/*
 * Text shadow tools.
 */
/*
 * Position tools.
 */
/*
 * Device breakpoints.
 * Following Semantic UI breakpoints.
 */
/*
 * Responsive utils.
 * Following Semantic UI breakpoints.
 * + custom `handheld` & `small screen` breakpoints.
 */
/*
 * Text shadow tools.
 */
/*
 * Device breakpoints.
 * Following Semantic UI breakpoints.
 */
/*
 * Responsive utils.
 * Following Semantic UI breakpoints.
 * + custom `handheld` & `small screen` breakpoints.
 */
/*
 * Align utils.
 */
/*
 * Blurred utils.
 */
/*
 * Border utils.
 */
/*
 * Box shadow utils.
 */
/*
 * Color utils.
 */
/*
 * Content utils.
 */
/*
 * Disabled utils.
 */
/*
 * Display utils.
 */
/*
 * Filter shadow utilities.
 */
/*
 * Font utils.
 */
/*
 * Heading utils.
 */
/*
 * Height utils.
 */
/*
 * Inset utils.
 */
/*
 * Line utils.
 */
/*
 * List utils.
 */
/*
 * Margin utils.
 */
/*
 * Opacity utils.
 */
/*
 * Padding utils.
 */
/*
 * Position utils.
 */
/*
 * Responsive utils.
 */
/*
 * Text shadow utilities.
 */
/*
 * Visibility utils.
 */
/*
 * Width utils.
 */
/*
 * Color definitions.
 */
/*
 * jQuery UI tooltip enhancements.
 {
   position:                  {
     my:                      'center bottom', // Floating tooltip.
     at:                      'center top-10', // e.g., a `.-tip` icon.
     using:                   function (position, feedback) {
       $(this).css(position) // Position tip overlay.
         .addClass(feedback.horizontal + ' ' + feedback.vertical);
     },
     collision:               'flipfit' // Flip & fit (best available).
   },
   content:                   function () {
     return $(this).prop('title');
   },
   items:                     '[data-toggle~='-jquery-ui-tooltip']',
   tooltipClass: x.coreContainerSlug + '-jquery-ui-tooltip'
 }
 */
/*
 * Alignment utilities.
 */
/*
 * Display utilities.
 */
/*
 * List item utilities.
 */
/*
 * Color utilities.
 */
/*
 * Shadow utilities.
 */
/*
 * Dependencies.
 */
/*
 * WP dashicons.
 */
/*
 * WP admin links.
 */
/*
 * Dependencies.
 */
/*
 * WP admin field colors.
 */
/*
 * WP admin lists enable.
 */
/*
 * Dependencies.
 */
/*
 * WP admin field colors.
 */
/*
 * WP admin field standards.
 */
/*
 * Block display mode.
 */
/*
 * One-line label mode.
 */
/*
 * Utility colors.
 */
/*
 * Color utilities.
 */
/*
 * Colors.
 */
/*
 * Core container data.
 */
/*
 * Menu page area; anywhere.
 */
.wp-sharks-menu-page-area:not(#x) {
  /*
   * Utilities.
   */
  /*
   * Admin enhancements.
   */
  /*
   * Inline code.
   */
  /*
   * Notices.
   */
  /*
   * Tooltips.
   */
  /*
   * Notes.
   */
  /*
   * Form tables.
   */
}

.wp-sharks-menu-page-area:not(#x) .-alignleft,
.wp-sharks-menu-page-area:not(#x) .-float-left,
.wp-sharks-menu-page-area:not(#x) .-float-left-nm,
.wp-sharks-menu-page-area:not(#x) .-float-left-nbm {
  float: left !important;
}

.wp-sharks-menu-page-area:not(#x) .-alignleft,
.wp-sharks-menu-page-area:not(#x) .-float-left,
.wp-sharks-menu-page-area:not(#x) .-float-left-nbm {
  margin-right: 3rem;
}

.wp-sharks-menu-page-area:not(#x) .-alignleft,
.wp-sharks-menu-page-area:not(#x) .-float-left {
  margin-bottom: 3rem;
}

.wp-sharks-menu-page-area:not(#x) .-alignright,
.wp-sharks-menu-page-area:not(#x) .-float-right,
.wp-sharks-menu-page-area:not(#x) .-float-right-nm,
.wp-sharks-menu-page-area:not(#x) .-float-right-nbm {
  float: right !important;
}

.wp-sharks-menu-page-area:not(#x) .-alignright,
.wp-sharks-menu-page-area:not(#x) .-float-right,
.wp-sharks-menu-page-area:not(#x) .-float-right-nbm {
  margin-left: 3rem;
}

.wp-sharks-menu-page-area:not(#x) .-alignright,
.wp-sharks-menu-page-area:not(#x) .-float-right {
  margin-bottom: 3rem;
}

.wp-sharks-menu-page-area:not(#x) .-aligncenter,
.wp-sharks-menu-page-area:not(#x) .-center:not(.ui-tooltip),
.wp-sharks-menu-page-area:not(#x) .-center-nm,
.wp-sharks-menu-page-area:not(#x) .-center-nbm {
  float: none !important;
  clear: both !important;
  display: block !important;
}

.wp-sharks-menu-page-area:not(#x) .-center:not(.ui-tooltip),
.wp-sharks-menu-page-area:not(#x) .-aligncenter,
.wp-sharks-menu-page-area:not(#x) .-center-nbm {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.wp-sharks-menu-page-area:not(#x) .-center:not(.ui-tooltip),
.wp-sharks-menu-page-area:not(#x) .-aligncenter {
  margin-bottom: 1rem;
}

.wp-sharks-menu-page-area:not(#x) .-display-block {
  float: none !important;
  clear: both !important;
  display: block !important;
}

.wp-sharks-menu-page-area:not(#x) .-display-hidden {
  display: none !important;
}

.wp-sharks-menu-page-area:not(#x) .-li-margins > li:not(:first-child) {
  margin-top: 1em !important;
}

.wp-sharks-menu-page-area:not(#x) .-li-margins + ul > li:not(:first-child),
.wp-sharks-menu-page-area:not(#x) .-li-margins + ol > li:not(:first-child) {
  margin-top: 1em !important;
}

.wp-sharks-menu-page-area:not(#x) .-box-shadow {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5) !important;
}

.wp-sharks-menu-page-area:not(#x) .-perspective-box-shadow {
  box-shadow: 0 6px 2px -4px rgba(0, 0, 0, 0.25) !important;
}

.wp-sharks-menu-page-area:not(#x) .-perspective-box-shadows {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5), 0 6px 2px -4px rgba(0, 0, 0, 0.25) !important;
}

.wp-sharks-menu-page-area:not(#x) .-text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
}

.wp-sharks-menu-page-area:not(#x) a {
  text-decoration: none;
}

.wp-sharks-menu-page-area:not(#x) a[href='#'][data-toggle]:not(.button):not(.btn):not(.-no-dots) {
  border-bottom: 1px dotted;
}

.wp-sharks-menu-page-area:not(#x) a[target='_blank']:not(.button):not(.btn):not(.-no-icon)::after {
  font: normal normal normal 14px/1 dashicons;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  display: inline-block;
  font-size: inherit;
  text-decoration: inherit;
  text-transform: none;
  content: "";
}

.wp-sharks-menu-page-area:not(#x) a[target='_blank']:not(.button):not(.btn):not(.-no-icon)::after {
  font-size: .85em;
  margin-left: .25em;
  display: inline-block;
}

.wp-sharks-menu-page-area:not(#x) ol,
.wp-sharks-menu-page-area:not(#x) ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

.wp-sharks-menu-page-area:not(#x) ol,
.wp-sharks-menu-page-area:not(#x) ol ol,
.wp-sharks-menu-page-area:not(#x) ol ul,
.wp-sharks-menu-page-area:not(#x) ul,
.wp-sharks-menu-page-area:not(#x) ul ol,
.wp-sharks-menu-page-area:not(#x) ul ul {
  margin-left: 0;
  padding-left: 2em;
}

.wp-sharks-menu-page-area:not(#x) ol li:first-child,
.wp-sharks-menu-page-area:not(#x) ol ol li:first-child,
.wp-sharks-menu-page-area:not(#x) ol ul li:first-child,
.wp-sharks-menu-page-area:not(#x) ul li:first-child,
.wp-sharks-menu-page-area:not(#x) ul ol li:first-child,
.wp-sharks-menu-page-area:not(#x) ul ul li:first-child {
  margin-top: 0;
}

.wp-sharks-menu-page-area:not(#x) ol li:last-child,
.wp-sharks-menu-page-area:not(#x) ol ol li:last-child,
.wp-sharks-menu-page-area:not(#x) ol ul li:last-child,
.wp-sharks-menu-page-area:not(#x) ul li:last-child,
.wp-sharks-menu-page-area:not(#x) ul ol li:last-child,
.wp-sharks-menu-page-area:not(#x) ul ul li:last-child {
  margin-bottom: 0;
}

.wp-sharks-menu-page-area:not(#x) ol ol,
.wp-sharks-menu-page-area:not(#x) ol ul,
.wp-sharks-menu-page-area:not(#x) ul ol,
.wp-sharks-menu-page-area:not(#x) ul ul {
  margin-top: .5em;
}

.wp-sharks-menu-page-area:not(#x) ol {
  list-style-type: decimal;
}

.wp-sharks-menu-page-area:not(#x) ol ol {
  font-size: 95%;
  list-style-type: decimal;
}

.wp-sharks-menu-page-area:not(#x) ol ul {
  font-size: 95%;
  list-style-type: circle;
}

.wp-sharks-menu-page-area:not(#x) ul {
  list-style-type: disc;
}

.wp-sharks-menu-page-area:not(#x) ul ul {
  font-size: 95%;
  list-style-type: circle;
}

.wp-sharks-menu-page-area:not(#x) ul ol {
  font-size: 95%;
  list-style-type: decimal;
}

.wp-sharks-menu-page-area:not(#x) select,
.wp-sharks-menu-page-area:not(#x) textarea,
.wp-sharks-menu-page-area:not(#x) input:not([type='checkbox']):not([type='radio']):not([type='color']):not([type='range']):not([type='image']):not([type='submit']):not([type='button']) {
  border-radius: 0;
  width: 100%;
  margin: 1px;
  padding: 3px 5px;
  font-size: 14px;
  color: #32373c;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}

.wp-sharks-menu-page-area:not(#x) select::-webkit-input-placeholder,
.wp-sharks-menu-page-area:not(#x) textarea::-webkit-input-placeholder,
.wp-sharks-menu-page-area:not(#x) input:not([type='checkbox']):not([type='radio']):not([type='color']):not([type='range']):not([type='image']):not([type='submit']):not([type='button'])::-webkit-input-placeholder {
  color: #c8c8c8;
}

.wp-sharks-menu-page-area:not(#x) select::-moz-placeholder,
.wp-sharks-menu-page-area:not(#x) textarea::-moz-placeholder,
.wp-sharks-menu-page-area:not(#x) input:not([type='checkbox']):not([type='radio']):not([type='color']):not([type='range']):not([type='image']):not([type='submit']):not([type='button'])::-moz-placeholder {
  color: #c8c8c8;
}

.wp-sharks-menu-page-area:not(#x) select:-moz-placeholder,
.wp-sharks-menu-page-area:not(#x) textarea:-moz-placeholder,
.wp-sharks-menu-page-area:not(#x) input:not([type='checkbox']):not([type='radio']):not([type='color']):not([type='range']):not([type='image']):not([type='submit']):not([type='button']):-moz-placeholder {
  color: #c8c8c8;
}

.wp-sharks-menu-page-area:not(#x) select:-ms-input-placeholder,
.wp-sharks-menu-page-area:not(#x) textarea:-ms-input-placeholder,
.wp-sharks-menu-page-area:not(#x) input:not([type='checkbox']):not([type='radio']):not([type='color']):not([type='range']):not([type='image']):not([type='submit']):not([type='button']):-ms-input-placeholder {
  color: #c8c8c8;
}

.wp-sharks-menu-page-area:not(#x) select:focus,
.wp-sharks-menu-page-area:not(#x) textarea:focus,
.wp-sharks-menu-page-area:not(#x) input:not([type='checkbox']):not([type='radio']):not([type='color']):not([type='range']):not([type='image']):not([type='submit']):not([type='button']):focus {
  border: 1px solid #5b9dd9;
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

.wp-sharks-menu-page-area:not(#x) input[type='range'] {
  width: 100%;
}

.wp-sharks-menu-page-area:not(#x) input[type='color'] {
  padding: 0;
}

.wp-sharks-menu-page-area:not(#x) input[type='text'][data-toggle~='-color-picker'] {
  margin: 0;
  width: 65px;
  font-size: 12px;
  line-height: 16px;
  font-family: monospace;
}

.wp-sharks-menu-page-area:not(#x) textarea,
.wp-sharks-menu-page-area:not(#x) select[multiple] {
  height: 10em;
}

.wp-sharks-menu-page-area:not(#x) textarea {
  vertical-align: top;
  /* See: <http://stackoverflow.com/a/7144960/1219741> */
}

.wp-sharks-menu-page-area:not(#x) code {
  font-size: inherit;
  padding: .15em .35em;
}

.wp-sharks-menu-page-area:not(#x) code a {
  text-decoration: none;
}

.wp-sharks-menu-page-area:not(#x).-notice h3,
.wp-sharks-menu-page-area:not(#x).-notice h4 {
  padding: 0;
  line-height: 1;
  font-weight: normal;
  margin: 1em 0;
}

.wp-sharks-menu-page-area:not(#x).-notice.notice-error .sharkicon-enty-exclamation {
  color: #e03a39;
}

.wp-sharks-menu-page-area:not(#x) .-tip {
  cursor: help;
  opacity: 0.75;
  margin: 0 0 0 .35em;
  display: inline-block;
}

.wp-sharks-menu-page-area:not(#x) .-tip::before {
  font: normal normal normal 14px/1 sharkicons;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  display: inline-block;
  font-size: inherit;
  text-decoration: inherit;
  text-transform: none;
  content: "";
}

.wp-sharks-menu-page-area:not(#x) .-tip::before {
  font-size: 13px;
  line-height: 13px;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}

.wp-sharks-menu-page-area:not(#x) .-tip:hover {
  opacity: 1;
}

.wp-sharks-menu-page-area:not(#x) .-tip + .-tip {
  margin-left: 2px;
}

.wp-sharks-menu-page-area:not(#x) .-note {
  opacity: 0.75;
  font-size: .85em;
  margin: 0 0 0 .25em;
}

.wp-sharks-menu-page-area:not(#x) .-form-table {
  border: 0;
  padding: 0;
  width: 100%;
  margin: 1.3em 0;
  box-sizing: border-box;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th,
.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > td {
  margin: 0;
  vertical-align: top;
  padding: 1em 0;
  line-height: 1.3;
  text-align: left;
  font-size: 0.875rem;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr:first-child > th {
  margin-top: 0;
  padding-top: 0;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr:first-child > th + td {
  margin-top: 0;
  padding-top: 0;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr:last-child > th {
  margin-bottom: 0;
  padding-bottom: 0;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr:last-child > th + td {
  margin-bottom: 0;
  padding-bottom: 0;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th {
  width: 275px;
  max-width: 275px;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th > div label {
  font-weight: 600;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th > div > .-tip {
  float: right;
  margin: 0 0 0 1em;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th > div > .-tip + .-tip {
  margin-left: 2px;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th + td {
  padding-left: 1em;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr.-hr > td {
  padding: 0;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr.-disabled-via-if-check {
  opacity: .45 !important;
}

.wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr.-hidden {
  display: none !important;
}

@media (max-width: 782px) {
  .wp-sharks-menu-page-area:not(#x) .-form-table {
    display: table !important;
  }
  .wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th,
  .wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > td {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th {
    margin-top: 1em;
  }
  .wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr > th + td {
    padding-left: 0;
    padding-top: .25em;
  }
  .wp-sharks-menu-page-area:not(#x) .-form-table > tbody > tr:first-child > th {
    margin-top: 0;
  }
}

.wp-sharks-menu-page-area:not(#x) .-form-table.-display-block {
  display: table !important;
}

.wp-sharks-menu-page-area:not(#x) .-form-table.-display-block > tbody > tr > th,
.wp-sharks-menu-page-area:not(#x) .-form-table.-display-block > tbody > tr > td {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  display: block;
}

.wp-sharks-menu-page-area:not(#x) .-form-table.-display-block > tbody > tr > th {
  margin-top: 1em;
}

.wp-sharks-menu-page-area:not(#x) .-form-table.-display-block > tbody > tr > th + td {
  padding-left: 0;
  padding-top: .25em;
}

.wp-sharks-menu-page-area:not(#x) .-form-table.-display-block > tbody > tr:first-child > th {
  margin-top: 0;
}

.wp-sharks-menu-page-area:not(#x) .-form-table.-one-line-labels > tbody > tr > th > div > label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Menu page; based on body class.
 */
.wp-sharks-menu-page:not(#x) {
  /*
   * Notices.
   */
}

.wp-sharks-menu-page:not(#x) #wpbody-content .notice,
.wp-sharks-menu-page:not(#x) #wpbody-content .updated {
  margin: 1.5em 0;
}

/*
 * Menu page wrapper.
 */
.wp-sharks-menu-page-wrapper:not(#x) {
  /*
   * General layout styles.
   */
  margin: 1.5em 1.5em 0 0;
}

.wp-sharks-menu-page-wrapper:not(#x) .-container > .-meta-links {
  max-width: 30%;
  float: right;
}

.wp-sharks-menu-page-wrapper:not(#x) .-container > .-meta-links > a,
.wp-sharks-menu-page-wrapper:not(#x) .-container > .-meta-links > span {
  float: left;
}

.wp-sharks-menu-page-wrapper:not(#x) .-container > .-meta-links > a:not(:first-child),
.wp-sharks-menu-page-wrapper:not(#x) .-container > .-meta-links > span:not(:first-child) {
  margin: 0 0 0 1em;
}

.wp-sharks-menu-page-wrapper:not(#x) .-container > .-meta-links > a.-restore::before,
.wp-sharks-menu-page-wrapper:not(#x) .-container > .-meta-links > span.-restore::before {
  font: normal normal normal 14px/1 sharkicons;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  display: inline-block;
  font-size: inherit;
  text-decoration: inherit;
  text-transform: none;
  content: "";
}

.wp-sharks-menu-page-wrapper:not(#x) .-container > .-nav-tabs {
  border-bottom: 1px solid #ccc;
}

.wp-sharks-menu-page-wrapper:not(#x) .-container > .-content {
  max-width: 960px;
  margin: 1.5em 0 0;
}

.wp-sharks-menu-page-wrapper:not(#x) .-container > .-content > :first-child {
  margin-top: 0;
}

.wp-sharks-menu-page-wrapper:not(#x) .-container > .-content > h1:first-child,
.wp-sharks-menu-page-wrapper:not(#x) .-container > .-content > h2:first-child {
  padding-top: 0;
}

/*
 * Post meta box styles.
 */
.wp-sharks-post-meta-box-wrapper:not(#x) {
  /*
   * Form tables.
   */
  /*
   * Post meta box styles (in sidebar).
   */
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table {
  margin: 0;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table:first-child {
  margin-top: 12px;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th,
.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > td {
  padding: 6px 0;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th {
  font-size: 13px;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th > div label {
  font-weight: normal;
}

@media (max-width: 782px) {
  .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table {
    display: table !important;
  }
  .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th,
  .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > td {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th {
    margin-top: 1em;
  }
  .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th + td {
    padding-left: 0;
    padding-top: .25em;
  }
  .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr:first-child > th {
    margin-top: 0;
  }
  .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table:first-child {
    margin-top: 8px;
  }
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table.-block-display {
  display: table !important;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table.-block-display > tbody > tr > th,
.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table.-block-display > tbody > tr > td {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  display: block;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table.-block-display > tbody > tr > th {
  margin-top: 1em;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table.-block-display > tbody > tr > th + td {
  padding-left: 0;
  padding-top: .25em;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table.-block-display > tbody > tr:first-child > th {
  margin-top: 0;
}

.wp-sharks-post-meta-box-wrapper:not(#x) .-form-table.-block-display:first-child {
  margin-top: 8px;
}

#side-sortables .wp-sharks-post-meta-box-wrapper:not(#x) {
  /*
     * Form tables.
     */
}

#side-sortables .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table {
  display: table !important;
}

#side-sortables .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th,
#side-sortables .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > td {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  display: block;
}

#side-sortables .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th {
  margin-top: 1em;
}

#side-sortables .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr > th + td {
  padding-left: 0;
  padding-top: .25em;
}

#side-sortables .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table > tbody > tr:first-child > th {
  margin-top: 0;
}

#side-sortables .wp-sharks-post-meta-box-wrapper:not(#x) .-form-table:first-child {
  margin-top: 8px;
}

/*
 * Widget styles.
 */
.wp-sharks-widget-wrapper:not(#x) {
  /*
   * Form tables.
   */
}

.wp-sharks-widget-wrapper:not(#x) .-form-table {
  margin: 1em 0;
  display: table !important;
}

.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr > th,
.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr > td {
  padding: 6px 0;
}

.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr > th {
  font-size: 13px;
}

.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr > th > div label {
  font-weight: normal;
}

.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr > th,
.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr > td {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  display: block;
}

.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr > th {
  margin-top: 1em;
}

.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr > th + td {
  padding-left: 0;
  padding-top: .25em;
}

.wp-sharks-widget-wrapper:not(#x) .-form-table > tbody > tr:first-child > th {
  margin-top: 0;
}

/*
 * Tooltip enhancements.
 */
.wp-sharks-jquery-ui-tooltip.ui-tooltip.ui-widget {
  font-size: .8em;
  border-radius: .25em;
  padding: .75em;
  max-width: 150px;
  text-align: center;
  z-index: 100000;
  color: #fff;
  background: #23282d;
  border: 1px solid #747474;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
}

.wp-sharks-jquery-ui-tooltip.ui-tooltip.ui-widget > .ui-tooltip-content::after {
  width: 0;
  content: '';
  border-style: solid;
  position: absolute;
  display: none;
}

.wp-sharks-jquery-ui-tooltip.ui-tooltip.ui-widget > .ui-tooltip-content code {
  margin: 0;
  border-radius: .25em;
  padding: .025em .5em;
  white-space: nowrap;
  font-size: inherit;
  color: inherit;
  display: inline-block;
  background: #39424a;
}

.wp-sharks-jquery-ui-tooltip.ui-tooltip.ui-widget > .ui-tooltip-content hr {
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  border: 0;
  height: 1px;
}

.wp-sharks-jquery-ui-tooltip.ui-tooltip.ui-widget.center.top[class$=' center top'] > .ui-tooltip-content::after {
  display: block;
  top: -8px;
  border-width: 0 8px 8px;
  left: calc(50% - 8px);
  border-color: #23282d transparent;
}

.wp-sharks-jquery-ui-tooltip.ui-tooltip.ui-widget.center.bottom[class$=' center bottom'] > .ui-tooltip-content::after {
  display: block;
  bottom: -8px;
  border-width: 8px 8px 0;
  left: calc(50% - 8px);
  border-color: #23282d transparent;
}

/*# sourceMappingURL=core.css.map */